<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pengfei Xue</title>
    <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <style>.content {padding-top: 80px;}</style>

    {% block css_header %}
    {% endblock %}
  </head>

  <body>

    {%- block topbar -%}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a href="https://github.com/pengfei-xue/openshift-flask-mongdb" class="brand">Pengfei Xue</a> 
            <span class="navbar-text">Starring to record my life here!</span>
            {% if 'uid' in session %}
                <a href="{{ url_for('posts.new') }}" class="btn btn-primary pull-right">New Post</a>
            {% endif %}
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
        <div class="content" style="width:61.8%">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}
    {% endblock %}
  </body>
</html>
