<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta charset="utf-8">
    <title>Pengfei Xue</title>
    <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <style>.content {padding-top: 80px;}</style>

    {% block css_header %}
    {% endblock %}
  </head>

  <body>

    {%- block topbar -%}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand">Pengfei Xue</a> 
            <span class="navbar-text">Starring to record my life here!</span>
            {% if 'uid' in session %}
                <a href="{{ url_for('posts.new') }}" class="btn btn-primary pull-right">New Post</a>
            {% endif %}
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
        <div class="content" style="width:61.8%">
            {% block page_header %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="hide">
        {% block js_footer %}
        {% endblock %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36753627-1']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </div>
  </body>
</html>
