<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengfei Xue</title>
    <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/blog.css" rel="stylesheet">
    <style>.content {padding-top: 80px;}</style>

    {% block css_header %}
    {% endblock %}
  </head>

  <body class="font-cute">

    {%- block topbar -%}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand">Pengfei Xue</a> 
            <span class="navbar-text">Starring to record my life here!</span>
            {% if 'uid' in session %}
                <a href="{{ url_for('posts.new') }}" class="btn btn-primary pull-right">New Post</a>
            {% endif %}
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container-fluid">
        <div class="row-fulid content">
            {% block sidebar %}
                <div class="span3">
                    <div class="">
                        <img class="img-rounded" src="/static/images/pengfei.jpg">
                    </div>
                </div>
            {% endblock %}
            <div class="span8">
                {% block page_header %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span2">
                    <img class="img-rounded" src="/static/images/sina_32x32.png">
                    <a href="http://weibo.com/u/1774807923"><span>Pengfei Xue</span></a>
                </div>

                <div class="span2">
                    <img class="img-rounded" src="/static/images/douban_32x32.png">
                    <a href="http://www.douban.com/people/xpen/"><span>豆瓣</span></a>
                </div>

                <div class="span2">
                    <img class="img-rounded" src="/static/images/alipay.png">
                    <a href="https://me.alipay.com/pengfeixue"><span>支付宝</span></a>
                </div>
            </div>
        </div>
    </footer>

    <div class="hide">
        {% block js_footer %}
        {% endblock %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36753627-1']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </div>
  </body>
</html>
