{% macro render(form) -%}

<div id=text-edit-container>
<form id="form-editor" method="post">
    {{ form.hidden_tag() }}
    <div class="span3">
        <input class="input-block-level" type="text" name="title" placeholder="文章标题"></input>
        <input class="input-block-level" type="text" name="slug" placeholder="slug"></input>
        <input class="input-block-level" type="text" name="tags" placeholder="标签"></input>
    </div>
    <textarea id="editor" name="body" rows="20" style="width: 60%;">
    </textarea>

    <p><br>
    <button class="btn btn-large btn-primary" type="submit">Post This blog</button>
</form>
    
<script src="/static/js/nicEdit-latest.js" type="text/javascript"></script>
<script>
        bkLib.onDomLoaded(function() {
            new nicEditor({ fullPanel: true }).panelInstance('editor');
        });
</script>
</div>

{% endmacro %}
