{% macro render(form) -%}

<div id=text-edit-container>
<form id="form-editor" method="post">
    <textarea id="editor" name="editor" rows="20" cols="75">
    </textarea>

    <button class="btn btn-large btn-primary" type="submit">Post This blog</button>
</form>
    
<script src="/static/js/nicEdit-latest.js" type="text/javascript"></script>
<script>
        bkLib.onDomLoaded(function() {
            new nicEditor({ fullPanel: true }).panelInstance('editor');
        });
</script>
</div>

{% endmacro %}
