<html>
<head></head>
<body>
    <div class='login'>
        <form method="POST" action="#">
            <fieldset class="textbox">
                <label class="username">
                    <span>Username or email</span>
                    <input type="text" name="username">
                </label>
                <label class="password">
                    <span>Password</span>
                    <input type="password" name="password">
                </label>
                <button type="submit" class="btn submit">Sign in</button>
            </fieldset>
        </form>
    </div>
</body>
</html>
