<div id="cnbeta-rss" class="carousel slide fixed-at-bottom-right">
    <!-- Carousel items -->
    <div class="carousel-inner" id='cnbeta-tips'>
    </div>
    
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-carousel.js"></script>
    <script type="text/javascript">
    $.getJSON(
        '{{ url_for('apis.cnbetacallpoint') }}', 
        function(data) {
            var tips = [];

            $.each(data.tips, function(index, tip) {
                tips.push(
                    '<div class="item">' + 
                        '<h3 class="popover-title">' + 
                            '<img src="/static/images/horn.svg">' + 
                            '<a href="' + tip.link + '" target="_blank">' + tip.title + 
                            '</a>' + 
                        '</h3>' + 
                        '<div class="popover-content alert alert-info">' + 
                        '<p>' + tip.content + '</p>' + 
                        '</div>' + 
                    '</div>'
                );
            });

            $('#cnbeta-tips').empty();
            $('#cnbeta-tips').append(tips.join(' '));
        }
    );

    $('.carousel').carousel({
        interval: 1000,
        pause: 'hover',
    });
    </script>
</div>
