<div id="cnbeta-rss" class="carousel slide fixed-at-bottom-right">
    <!-- Carousel items -->
    <div class="carousel-inner" id='cnbeta-tips'>
    <!-- Carousel nav -->
    </div>

    <div id="cnbeta-rss-bottom" class="carousel">
        <a class="pull-left" id="move-left" data-slide="prev">下页</a>
        <a class="pull-right" id="move-right" data-slide="next">上页</a>
    </div>

    <script type="text/javascript">
    $.getJSON(
        '{{ url_for('apis.cnbetacallpoint') }}', 
        function(data) {
            var tips = [];

            $.each(data.tips, function(index, tip) {
                tips.push(
                    '<div class="item">' + 
                        '<h3 class="popover-title">' + 
                            '<img src="/static/images/horn.svg">' + 
                            '<a href="' + tip.link + '" target="_blank">' + tip.title + 
                            '</a>' + 
                        '</h3>' + 
                        '<div class="popover-content alert alert-info">' + 
                        '<p>' + tip.content + '</p>' + 
                        '</div>' + 
                    '</div>'
                );
            });

            $('#cnbeta-tips').empty();
            $('#cnbeta-tips').append(tips.join(' '));
        }
    );
    $('.carousel').carousel({});

    $("#move-left").click(function() {
        $('.carousel').carousel('prev');
    });
    $("#move-right").click(function() {
        $('.carousel').carousel('next');
    });
    $("#cnbeta-tips").hover(function(){
        $("#cnbeta-rss-bottom").show();
    });
    </script>
</div>
