{% macro render(pagination, endpoint, tag) %}
<div class="pagination pagination-centered">
    <ul>
    {% if pagination.has_prev %}
    <li>
        <a href="{{ url_for(endpoint, page=pagination.page-1, tag=tag) }}">
            <span>Prev</span>
        </a>
    </li>
    {% else %}
    <li class="disabled"><span>Prev</span></li>
    {% endif%}
    {%- for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
            <li>
                <a href="{{ url_for(endpoint, page=page, tag=tag) }}"><span>{{ page }}</span></a>
            </li>
            {% else %}
            <li class="active">
                <a><span>{{ page }}</span></a>
            </li>
            {% endif %}
        {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
    <li>
        <a href="{{ url_for(endpoint, page=pagination.page+1, tag=tag) }}">
            <span>Next</span>
        </a>
    </li>
    {% else %}
    <li class="disabled"><span>Next</span></li>
    {% endif%}
    </ul>
</div>
{% endmacro %}
