{% macro render(form) -%}

<div id=text-edit-container>
<form id="form-editor" method="post">
    {{ form.hidden_tag() }}
    <div class="span3">
        <input class="input-block-level" type="text" name="title" placeholder="文章标题"></input>
        <input class="input-block-level" type="text" name="slug" placeholder="slug"></input>
        <input class="input-block-level" type="text" name="tags" id="tag-suggest" placeholder="标签"></input>
    </div>

    {% import "nicEditor.html" as nicEditor %}
    {% call nicEditor.nicEditor() %} {% endcall %}

    <p><br>
    <button class="btn btn-large btn-primary" type="submit">Post This blog</button>
</form>
    
{% import 'autocomplete.html' as autocomplete %}
{{ autocomplete.autocomplete('#tag-suggest') }}

</div>

{% endmacro %}
