{% extends "base.html" %}

{% block sidebar %}
<div class="span2"></div>
{% endblock %}

{% block content %}
<div id=text-edit-container>
<form id="form-editor" method="post">
    {{ form.hidden_tag() }}
    <div class="span3">
        <input class="input-block-level" type="text" name="title" value="{{ post.title }}"></input>
        <input class="input-block-level" type="text" name="slug" value="{{ post.slug }}"></input>
        <input class="input-block-level" type="text" name="tags" value="{{ post.tags | join(', ') or '' }}"></input>
    </div>

    {% import "nicEditor.html" as nicEditor %}
    {% call nicEditor.nicEditor() %} {{ post.body }} {% endcall %}

    <p><br>
    <button class="btn btn-large btn-primary" type="submit">Update This blog</button>
</form>
</div>
{% endblock %}
