{% import "_paginate.html" as paginate %}
{% extends "base.html" %}

{% block content %}
    {% for post in pagination.items %}
    <div class="hero-unit">
    <h3><a href="{{ url_for('posts.detail', slug=post.slug) }}">{{ post.title }}</a></h2>
    <p>{{ post.body | striptags | truncate(100) }}</p>
    <p>
        {{ post.created_at.strftime('%Y-%m-%d %H:%M') }} |
        {% with total=post.comments|length %}
            {{ total }} comment {%- if total > 1 %}s{%- endif -%}
        {% endwith %}
    </p>
    </div>
    {% endfor %}

    {% if pagination.has_prev or pagination.has_next %}
        {% if tag %}
            {% set endpoint = 'posts.tags' %}
        {% else %}
            {% set endpoint = 'posts.index' %}
        {% endif %}
        {{ paginate.render(pagination, endpoint, tag) }}
    {% endif %}
{% endblock %}
